@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Inconsolata:wght@600&display=swap');


:root{
    --primary-color: #10B981;

}

body{
    font-family: 'Inconsolata', monospace;
    margin: 0px;
}
p{
    font-family: 'Comfortaa', cursive;
    font-size: small;
}
#txt-input{
    margin:auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding:2rem;
    display: block;
    width: 70%;
    height: 4.5rem;
    font-size: x-large;
}


#txt-output{
    padding:2rem;
    display: block;
    height: 5rem;
    width: 70%;
    border: 1px solid black;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: x-large;
}


#btn-check{
   background: #10B981;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Garamond;
   font-size: 40px;
   font-weight: 100;
   padding: 1rem 1.5rem;
   box-shadow: 1px 1px 20px 0 #10B981;
   text-shadow: 1px 1px 20px #10B981;
   border: solid #10B981 1px;
   text-decoration: none;
   display: block;
   cursor: pointer;
   text-align: center;
   margin: auto;

}


.container{
    padding:0 1rem 0 1rem;
}

/*Heading*/
.prim{
    background-color: var(--primary-color);
    padding: 2rem;
    font-weight: bold;
    font-size: large;
    color:white;
    padding: 2rem;
    border-radius:0 0 4rem 4rem;
}
.header{
    text-align: center;
    font-size: xx-large;
    
}

/* Lists*/

.list-non-bullet{
    list-style: none;
}
.list-item-inline{
    display: inline;
    padding: 1rem;
}


/*Links*/

.link{
    text-decoration: none;
    font-weight: 400;
    padding: 0 0.5rem 0 1rem;
    color:white;
}


/*Footer*/

.footer{
    background-color: var(--primary-color);
    padding: 2rem;
    text-align: center;
    color: white;
    border-radius:4rem   4rem 0 0;
    font-size: large;
}
.footer-header{
    font-size: xx-large;
    font-weight: bolder;
} 
.bot-header{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}