#txt-input{
    margin:1rem;
    padding:2rem;
    display: block;
    width: 70%;
}

#btn-check{
    padding: 0.5rem 2rem;
}
#txt-output{
    margin:1rem;
    padding:2rem;
    display: block;
    height: 2rem;
    width: 70%;
    border: 1px solid black;
}